.wrapper
  = render 'shared/header'
  - breadcrumb :edit_user
  = render 'shared/breadcrumbs'
  .main-box
    .mypage-main
      = render 'shared/side-bar'
      .right-container
        
  = render 'shared/footer'
  = render 'shared/exhibition-btn'