-# ピックアップカテゴリー、新着アイテムなど真ん中のメインコンテンツ
.all-contents
  .all-contents__contents

    .picup-category
      ピックアップカテゴリー

    .new-items
      .new-items__caption
        = link_to 'レディース 新着アイテム' , '/users/:id'
      .new-items__products
        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567

        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567

        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567

        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567
    .show-all
      すべての商品を見る

    .new-items
      .new-items__caption
        メンズ 新着アイテム
      .new-items__products
        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567

        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567

        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567

        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567
    .show-all
      すべての商品を見る

    .picup-category
      ピックアップブランド
    .new-items
      .new-items__caption
        ルイ ヴィトン 新着アイテム
      .new-items__products
        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567

        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567

        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567

        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567
    .show-all
      すべての商品を見る

    .new-items
      .new-items__caption
        ナイキ 新着アイテム
      .new-items__products
        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567

        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567

        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567

        .product
          .photo-zone
            = image_tag 'vuitton.png', class: "vuitton-img"
          .data
            .name
              某有名ブランドのバッグ
            .price
              ¥1,234,567
    .show-all
      すべての商品を見る
