.header
  .inner
    .top
      .title
        = link_to root_path do
          %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?863303983",width:'134px',height:'36px'}
      .form
        = form_with url: search_items_path, method: :get, local: true do |f|
          = f.text_field :keyword, class: 'form__search', placeholder: '何をお探しで？',name: 'keyword',type:'search'
          %label.search-label{for: "search-icon"}
            %i.fa.fa-search
            = f.submit '', id: "search-icon"

    .under
      %nav.left
        %ul.header-navi
          %li.header-l-left
            = fa_icon 'list-ul', class: 'category-icon'
            %span カテゴリーから探す
          %li.header-l-right
            = fa_icon 'tag',class: 'brand-icon'
            %span ブランドから探す
      .right
        - if user_signed_in?
          .header-like-box
            .like-icon-box
              = fa_icon 'heart-o' ,class:'like-header'
            .like-text-box
              いいね!一覧
          .header-notice
            .notice-icon-box
              = fa_icon 'bell-o' , class: 'bell-header'
            .notice-text-box
              お知らせ
          .header-to-do-list
            .check-icon-box
              = fa_icon 'check' , class: 'check-header'
            .check-text-box
              やることリスト
          .header-mypage-box
            .header-mypage-url
              = link_to "マイページ",  users_path , class: 'mypage-kondou'
        - else
          .new-create-user
            = link_to "新規会員登録", new_user_registration_path, class: 'new-ragistration-text'
          .login-user-box
            = link_to "ログイン" , new_user_session_path, class: 'new-user-text'
