-# 商品詳細ページ
.all-contents
  .all-contents__prduct-details-1
    .product-details-2
      .product-details-3
        COACH コーチ ショルダーバッグ
      .product-description
        『COACH コーチ ショルダーバッグ』は、75回の取引実績を持つカカロット@断捨離さんから出品されました。コーチ（ショルダーバッグ/レディース）の商品で、大阪府から2~3日で発送されます。
      .product-details-4
        .product-details-5
          .photo-box-1
            = image_tag 'coach.png', class: 'product-img'
          .photo-box-2
            .mini-photo
              = image_tag 'coach.png', class: 'product-mini-img'
            .mini-photo
              = image_tag 'coach.png', class: 'product-mini-img'
            .mini-photo
              = image_tag 'coach.png', class: 'product-mini-img'
        .product-details-6
          .product-details-7
            .left-text-1
              出品者
            .right-zone-1
              .right-zone-1-1
                カカロット@断捨離
              .right-zone-1-2
                .evaluation-icon
                  = fa_icon 'twitter', class: "good-icon"
                .evaluation-num
                  56
                .evaluation-icon
                  = fa_icon 'twitter', class: "normal-icon"
                .evaluation-num
                  34
                .evaluation-icon
                  = fa_icon 'twitter', class: "bad-icon"
                .evaluation-num
                  12
          .product-details-8
            .left-text-2
              カテゴリー
            .right-zone-2
              .right-zone-2-1
                .right-zone-2-2
                  レディース
                .right-zone-2-3
                  > バッグ
                .right-zone-2-4
                  > ショルダーバッグ
          .product-details-9
            .left-text-3
              ブランド
            .right-zone-3
              .right-zone-3-1
                コーチ
          .product-details-9
            .left-text-3
              商品の状態
            .right-zone-3
              .right-zone-3-1b
                目立った傷や汚れなし
          .product-details-9
            .left-text-3
              配送料の負担
            .right-zone-3
              .right-zone-3-1b
                送料込み(出品者負担)
          .product-details-9
            .left-text-3
              配送の方法
            .right-zone-3
              .right-zone-3-1b
                らくらくメルカリ便
          .product-details-9
            .left-text-3
              配送元地域
            .right-zone-3
              .right-zone-3-1
                大阪府
          .product-details-9
            .left-text-3
              発送日の目安
            .right-zone-3
              .right-zone-3-1b
                2~3日で発送

      .product-details-15
        .product-details-16
          .product-details-17
            ¥ 1,234,567
          .product-details-18
            （税込）
          .product-details-19
            送料込み

      .product-details-20
        .product-details-21
          購入画面に進む

      .product-details-22
        コーチのカバンです。
        珍しい水色でこの時期にピッタリです！！
        購入してあまり使用してません。
        　
        使っていただける方に譲りたいです！！

      .product-details-23
        .product-details-24
          .product-details-25
            いいね
          .product-details-26
            不適切な商品の報告
        .product-details-27
          .product-details-28
            あんしん・あんぜんへの取り組み
