.wrapper
  .all-contents
    .all-contents__prduct-details-1
      .product-details-2
        .product-details-3
          = @items.name
        .product-description
          『COACH コーチ ショルダーバッグ』は、75回の取引実績を持つGGさんから出品されました。コーチ（ショルダーバッグ/レディース）の商品で、大阪府から2~3日で発送されます。
        .product-details-4
          .product-details-5
            .photo-box-1
              = image_tag @items.photos[0].img.url, width: "100%", height: "100%"
            .photo-box-2
              - @items.photos.each do |image|
                .mini-photo
                  = image_tag image.img.url , width: "100%", height: "100%"
          .product-details-6
            .product-details-7
              .left-text-1
                出品者
              .right-zone-1
                .right-zone-1-1
                  = @items.user.nickname
                .right-zone-1-2
                  .evaluation-icon
                    = fa_icon 'twitter', class: "good-icon"
                  .evaluation-num
                    56
                  .evaluation-icon
                    = fa_icon 'twitter', class: "normal-icon"
                  .evaluation-num
                    34
                  .evaluation-icon
                    = fa_icon 'twitter', class: "bad-icon"
                  .evaluation-num
                    12
            .product-details-8
              .left-text-2
                カテゴリー
              .right-zone-2
                .right-zone-2-1
                  .right-zone-2-2
                    = @items.category.root.category_name
                  .right-zone-2-3
                    >
                    = @items.category.parent.category_name
                  .right-zone-2-4
                    >
                    = @items.category.category_name
            .product-details-9
              .left-text-3
                ブランド
              .right-zone-3
                .right-zone-3-1
                  コーチ
            .product-details-9
              .left-text-3
                商品の状態
              .right-zone-3
                .right-zone-3-1b
                  = @items.state.state
            .product-details-9
              .left-text-3
                配送料の負担
              .right-zone-3
                .right-zone-3-1b
                  = @items.postage.root.postage
            .product-details-9
              .left-text-3
                配送の方法
              .right-zone-3
                .right-zone-3-1b
                  = @items.postage.postage
            .product-details-9
              .left-text-3
                配送元地域
              .right-zone-3
                .right-zone-3-1
                  = @items.prefecture.prefecture
            .product-details-9
              .left-text-3
                発送日の目安
              .right-zone-3
                .right-zone-3-1b
                  = @items.postage_day.postage_day

        .product-details-15
          .product-details-16
            .product-details-17
              ¥
              = @items.price
            .product-details-18
              （税込）
            .product-details-19
              送料込み

        .product-details-20
          .product-details-21
            購入画面に進む

        .product-details-22
          = @items.explain
        .product-details-23

          .product-details-24
            .product-details-30
              .product-details-31
                = fa_icon 'twitter', class: "iine-icon"
              .product-details-26
                いいね！
              .product-details-35
                77

            .product-details-32
              .product-details-33
                = fa_icon 'twitter', class: "flag-icon"
              .product-details-27
                不適切な商品の報告

          .product-details-28
            .product-details-34
              = fa_icon 'twitter', class: "key-icon"
            .product-details-29
              あんしん・あんぜんへの取り組み

      .product-details-36
        .product-details-37
          < ザ・ベスト・コレクション
        .product-details-38
          iPhone 純正 コンセント >

      .details-comment-box
        .details-in-box
          .details-text-box
            相手のことを考え丁寧なコメントを心掛けましょう。不快な言葉遣いなどは利用制限や退会処分とな
            %br/
            ることがあります。
          = form_with do |c|
            .details-comment-form
              = c.text_area :p , class: 'coment-text-area'
            .details-comment-submit
              = c.submit :"コメント" , class: 'coment-submit-b'

      .comment-under-box
        .before-box
          < 時計
        .after-box
          パジャマ >

      .details-icon-box
        %ul.details-icon-main
          %li.details-facebook
            = fa_icon 'facebook-square', class: 'd-facebook'
          %li.details-twitter
            = fa_icon 'twitter-square' , class: 'd-twitter'
          %li.details-line
            = fa_icon 'vine' ,class: 'd-vine'
          %li.details-pinster
            = fa_icon 'pinterest' , class: 'd-pint'
