.item-confilm-conteiner 
  .item-confilm-header
    %h1.h1
      = image_tag 'logo.svg',width:'185px',height: '49px'
  .item-confilm-main
    %section.buy-content
      %h2.main-head
        購入完了！
      .main-center
        .main-inner
          %h3.inner-lazyloaded
          = image_tag @item.photos[0].img.url, width: "64px", height: "64px"
          %p.item-name 
            = @item.name
          .buys-form
            %p.item-price
              = @item.price
              %span.item-fee
                送料込み
            %ul.total-buy-price
              %li.price-box
                .price-text
                  支払い金額
                .price-num
                  %span
                    = @item.price
  .purchase__container
    .purchase__container__title
      THANK YOU!
     
    .purchase__container__description
      Please wait for the product to arrive

      %br
      出品者の連絡をお待ちください！
      またのご利用お待ちしております。
    = link_to "トップページへ戻る", root_path, class: "purchase__container__link"
  .purchase__container__footer
= render 'shared/footer'
