.item-confilm-conteiner 
  .item-confilm-header
    %h1.h1
      = image_tag 'logo.svg',width:'185px',height: '49px'
  .item-confilm-main
    %section.buy-content
      %h2.main-head
        購入内容の確認
      .main-center
        .main-inner
          %h3.inner-lazyloaded
          -# = image_tag @item.photos[0].img.url, width: "64px", height: "64px"
          %p.item-name 
            = @item.name
          .buys-form
            %p.item-price
              = @item.price
              %span.item-fee
                送料込み
            %ul.point-boxs
              %li.point-box
                .point-text
                  ポイントはありません
            %ul.total-buy-price
              %li.price-box
                .price-text
                  支払い金額
                .price-num
                  %span
                    = @item.price
            %p.error-text
              配送先と支払い方法の入力を完了してください。
              = form_tag(action: :pay, method: :post) do
                %button.purchase-btn 購入する

    %section.shipping-address-box
      .main-inner
        %h3
          配送先
        %address.shipping-info
          〒
          %br
          %p.shipping-info
          =link_to "",class:"shipping-p" do
            %span 変更する
            = fa_icon "arrow-right",class:"shipping-p"

    %section.shipping-method-box
      .main-inner
        %h3 
          支払方法
          = image_tag "cards/#{@card_src}", width: '26', height: '20', alt: @card_brand, id: "card_image"
        .card__number 
          = "**** **** **** " + @default_card_information.last4
        .expire__date 
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
          %p.shipping-info
        %br
          =link_to "",class:"shipping-p" do
            %span 変更する
            = fa_icon "arrow-right",class:"shipping-p"

  .item-confilm-footer
    %nav
      %ul.footer-text
        %li.li
          = link_to "https://www.mercari.com/jp/privacy/",class:"li" do
            プライバシーポリシー 
        %li.li
          = link_to "https://www.mercari.com/jp/tos/" ,class:"li" do
            メルカリ利用規約 
        %li.li
          = link_to "https://www.mercari.com/jp/tokutei/",class:"li" do
            特定商取引に関する表記           
      = link_to "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2508029365",class:"footer-logo" do
        = image_tag 'logo-gray.svg', alt:"mercari", width:'80', height:'65'
      %p 
        %small
          Mercari @2019 
