
.wrapper
  = render 'shared/header'
  = render 'shared/slick-banner'
  = render 'shared/all-contents'
  = render 'shared/under-banner'
  = render 'shared/footer'
  = render 'shared/exhibition-btn'


