.product_listing_content
  = render "user-shared/user-header" 
  .product_listing_box
    .product_listing_title
      商品の情報を入力
    = form_with(model: @item) do |f|
      .upload_box
        .upload_text
          .upload_header 
            出品画像
          .upload_require 
            必須
        %p
          最大10枚までアップロードできます
        = f.label :img, class: "image_label" do
          .upload_image
          =f.file_field :img, class: "file_field" 
          %pre.image_text
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ドラッグアンドドロップ　
            またはクリックしてファイルをアップロード

      .product_content
        .product_box-description
          .product_header
            商品名
          .product_require
            必須  
        = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "product_description"
        .product_box-explain
          .product_header
            商品の説明
          .product_require
            必須
        = f.text_area :explain, placeholder: "商品の説明 (必須 1000文字以内) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーではありません。あわせやすいのでおすすめです。", class: "product_explain"

      .product_content2
        .product_box-details
          商品の詳細
        .product_select-details
          .product_select-group
            .product_header
              カテゴリー
            .product_require
              必須
          .product_category-select
            = f.collection_select :category, @category, :id, :category_name, { prompt: "---" }, { class: "category_select-box", id: "category_select" }
            %i.fa.fa-chevron-down
          .product_select-children
          .product_select-group2
            .product_header
              商品の状態
            .product_require
              必須
          .product_state-select
            = f.select :state, Item.states.keys, {}, { class: "state_select-box" }
            %i.fa.fa-chevron-down
          
      .product_content3
        .product_box-postage
          配送について
          = link_to " ", class: "question" do
            ?
        .product_select-postage    
          .product_postage-group
            .product_header
              送料の負担
            .product_require
              必須 
          .product_postage-select
            = f.collection_select :postage, @postage, :id, :postage, { prompt: "---" }, { class: "postage_select-box", id: "postage_select" }
            %i.fa.fa-chevron-down
          .product_select-postage_children
          .product_postage-group2
            .product_header
              発送元の地域
            .product_require
              必須
          .product_region-select
            = f.collection_select :prefecture, @prefecture, :id, :prefecture, {prompt: "---"}, {class: "region_select-box", id: "region_select"}
            %i.fa.fa-chevron-down
          .product_select-group3
            .product_header
              発送までの日数
            .product_require
              必須
          .product_days-select
            = f.collection_select :postage_day, @postage_day, :id, :postage_day, {prompt: "---"}, {class: "days_select-box", id: "days_select"}
            %i.fa.fa-chevron-down

      .product_content4
        .product_box-price
          販売価格(300〜9,999,999)
          = link_to " ", class: "question" do
            ?
        .product_price
          .product_price-group
            .product_header
              価格
            .product_require
              必須 
          .product_price-form
            ¥
            = f.number_field :price, placeholder: "例) 300", class: "price_form-box"
      .product_content5
        .product_notice
          = link_to " " do
            禁止されている出品
          ,
          = link_to " " do
            行為
          を必ずご確認ください｡
          %br
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to " " do
              偽ブランドの販売
            は犯罪であり処罰される可能性があります｡
          また、出品をもちまして
          = link_to " " do
            加盟店規約
          に同意したことになります｡
        .product_exhibit-box
          = f.submit "出品する"
        .product_back-box
          =link_to " " do
            戻る




  = render "user-shared/user-fotter" 
