.product_listing_content
  = render "user-shared/user-header" 
  .product_listing_box
    .product_listing_title
      商品の情報を入力
    = form_with(model: @item) do |f|
      .upload_box
        .upload_text
          .upload_header 
            出品画像
          .upload_require 
            必須
        %p
          最大10枚までアップロードできます
        = f.label :img, class: "image_label" do
          .upload_image
          =f.file_field :img, class: "file_field" 
          %pre.image_text
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ドラッグアンドドロップ　
            またはクリックしてファイルをアップロード

      .product_content
        .product_box-description
          .product_header
            商品名
          .product_require
            必須  
        = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "product_description"
        .product_box-explain
          .product_header
            商品の説明
          .product_require
            必須
        = f.text_area :explain, placeholder: "商品の説明 (必須 1000文字以内) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーではありません。あわせやすいのでおすすめです。", class: "product_explain"

      .product_content2
        .product_box-details
          商品の詳細
        .product_select-details
          .product_select-group
            .product_header
              カテゴリー
            .product_require
              必須
          .product_category-select
            = f.collection_select :category, @category, :id, :category_name, { prompt: "---" }, { class: "category_select-box", id: "category_select" }
            %i.fa.fa-chevron-down
          .product_select-children
          .product_select-group2
            .product_header
              商品の状態
            .product_require
              必須
          .product_state-select
            = f.select :state, Item.states.keys, {}, { class: "state_select-box" }
            %i.fa.fa-chevron-down
    
  = render "user-shared/user-fotter" 
