.wrapper
  = render 'shared/header'
  - breadcrumb :add_card
  = render 'shared/breadcrumbs'
  .main__content
    = render 'shared/side-bar'
    %section.chapter__cont
      %h2.chapter__head クレジットカード情報入力
      = form_with url: pay_cards_path, method: :post,   html: {name: "inputForm"} do |f|
        .form__main__container
          .form__content
            %label.payment__card
              カード番号
              %span.require__form
                必須
            = f.text_field :number, class: "number-deafult", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
            .card__list
              .card__list__picture
          .form__content.top__margin
            %label.payment__card
              有効期限
              %span.require__form
                必須
            .select__box.top__margin
              .select__box__half
                = f.select :exp_month,[["--",""],["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'select__default'
                %span 月
              .select__box__half
                .icon
                = f.select :exp_year,[["--",""],["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'select__default'
                %span  年
          .form__content.top__margin
            %label.payment__card
              セキュリティーコード
              %span.require__form
                必須
            = f.text_field :cvc, class: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"
            .single__code
              %span.form__question ?
              %span カードの裏面の番号とは？
          #card_token
          = f.submit "追加する",id: "token_submit", class: "pay-new-move-text"
  = render 'shared/footer'
  = render 'shared/exhibition-btn'

:javascript
  document.addEventListener(
  "DOMContentLoaded", e => {
    if (document.getElementById("token_submit") != null) { 
      Payjp.setPublicKey("pk_test_57f5b7abfc1b1cbd41160d6a"); 
      let btn = document.getElementById("token_submit"); 
      btn.addEventListener("click", e => { 
        e.preventDefault(); 
        let card = {
          number: document.getElementById("card_number").value,
          cvc: document.getElementById("cvc").value,
          exp_month: document.getElementById("exp_month").value,
          exp_year: document.getElementById("exp_year").value
        }; 
        Payjp.createToken(card, (status, response) => {
          if (status === 200) { 
            $("#card_number").removeAttr("name");
            $("#cvc").removeAttr("name");
            $("#exp_month").removeAttr("name");
            $("#exp_year").removeAttr("name"); 
            $("#card_token").append(
              $('<input type="hidden" name="payjp-token">').val(response.id)
            ); 
            document.inputForm.submit();
            alert("登録が完了しました"); 
          } else {
            alert("カード情報が正しくありません。"); 
          }
        });
      });
    }
  },
  false
  );