= render "user-shared/info-header"
.payment-box
  .payment-center-box
    .__payment-small-text
      支払い方法
    .__payment-small-box
      .__payment-list-box
        = form_tag(cards_path, method: :post,action: "create",local: true ,html: {name: "inputForm"}) do
          .__l-payment-form
            .__l-p-text
              %label.pay"カード番号"
            .__l-p-required
              必須
          = text_field_tag "card_number","", placeholder: "半角数字のみ", class: "text-payment",maxlength: "16", type: "text", id: "card_number"

          .__l-payment-form
          %img{alt:  "", height:  "20", src:  "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?917505326", width:  "49"}
          %img{alt:  "", height:  "20", src:  "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?917505326", width:  "34"}
          %img{alt:  "", height:  "20", src:  "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?917505326", width:  "30"}
          %img{alt:  "", height:  "20", src:  "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?917505326", width:  "32"}
          %img{alt:  "", height:  "20", src:  "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?917505326", width:  "21"}
          %img{alt:  "", height:  "20", src:  "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?917505326", width:  "32"}
          %img{alt:  "", height:  "20", src:  "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?917505326", width:  "32"}


          .__l-payment-form
            .__l-p-text
              %label.pay "有効期限"
            .__l-p-required
              必須
          .__payment-pull-box
            .__payment-pull-mouth
            %select.select__default#exp_month{name: "exp_month", type: "text"}
              %option{value: ""} --
              %option{value: "1"}01
              %option{value: "2"}02
              %option{value: "3"}03
              %option{value: "4"}04
              %option{value: "5"}05
              %option{value: "6"}06
              %option{value: "7"}07
              %option{value: "8"}08
              %option{value: "9"}09
              %option{value: "10"}10
              %option{value: "11"}11
              %option{value: "12"}12
            -# = pay.select :exp_month, [["--",""],["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'card-information-box__select '
            = render "user-shared/pull-down-birthday/pull-mouth"
            .__payment-pull-text
              月
            .__payment-pull-day
            %select.select__default#exp_year{name: "exp_year", type: "text"}
              %option{value: ""} --
              %option{value: "2019"}19
              %option{value: "2020"}20
              %option{value: "2021"}21
              %option{value: "2022"}22
              %option{value: "2023"}23
              %option{value: "2024"}24
              %option{value: "2025"}25
              %option{value: "2026"}26
              %option{value: "2027"}27
              %option{value: "2028"}28
              %option{value: "2029"}29
            -# = pay.select :exp_year, [["--",""],["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'card-information-box__select'
            = render "user-shared/pull-down-birthday/pull-short-year"
            .__payment-pull-text
              年

          .__l-payment-form
            .__l-p-text
              %label"セキュリティーコード"
            .__l-p-required
              必須
          = text_field_tag "cvc","", class: "cvc",placeholder: " カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"

          .__payment-under-text
            カード裏面の番号とは？

          .__payment-move-on-btn
            = submit_tag "次へ進む",id: "token_submit", class: "payment-move-text"


:javascript
  document.addEventListener(
  "DOMContentLoaded", e => {
    if (document.getElementById("token_submit") != null) { 
      Payjp.setPublicKey("pk_test_57f5b7abfc1b1cbd41160d6a"); 
      let btn = document.getElementById("token_submit"); 
      btn.addEventListener("click", e => { 
        e.preventDefault(); 
        let card = {
          number: document.getElementById("card_number").value,
          cvc: document.getElementById("cvc").value,
          exp_month: document.getElementById("exp_month").value,
          exp_year: document.getElementById("exp_year").value
        }; 
        Payjp.createToken(card, (status, response) => {
          if (status === 200) { 
            $("#card_number").removeAttr("name");
            $("#cvc").removeAttr("name");
            $("#exp_month").removeAttr("name");
            $("#exp_year").removeAttr("name"); 
            $("#card_token").append(
              $('<input type="hidden" name="payjp-token">').val(response.id)
            ); 
            document.inputForm.submit();
            alert("登録が完了しました"); 
          } else {
            alert("カード情報が正しくありません。"); 
          }
        });
      });
    }
  },
  false
  );